<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>에약하기</title>
        <link href="{{ url_for('static', filename='css/ui_styles.css') }}" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />

        <!-- JS -->
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/ui_scripts.js') }}"></script>
        <script src="{{ url_for('static', filename='js/reservation.js') }}"></script>
    </head>
    <body>
        <div class="spinner-border text-primary loader" id="loader" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    <!-- Navigation Start-->
                    <nav class="navbar navbar-marketing navbar-expand-lg bg-white navbar-light">
                        <div class="container">
                            <a class="navbar-brand text-primary" href="/">FC Passion</a>
                            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
                                    <line x1="3" y1="12" x2="21" y2="12"></line>
                                    <line x1="3" y1="6" x2="21" y2="6"></line>
                                    <line x1="3" y1="18" x2="21" y2="18"></line>
                                </svg>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto mr-lg-5">
                                    <li class="nav-item"><a class="nav-link" href="/">홈</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/introduce">소개</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/notice/list">공지사항</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/schedule/list">경기일정</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/daily-life/list">일상</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!-- Navigation End-->
                    
                    <section class="bg-light py-10">
                        <div class="container">
                            <!-- Header start -->
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <h2 class="mb-1">예약하기</h2>
                            </div>
                            <!-- Header end -->
                            <hr class="mb-4" />
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card rounded-lg text-dark">
                                        <div class="card-body">
                                            <form>
                                                <div class="form-group">
                                                    <label class="small text-gray-600" for="leadCapEmail">구장 입력 ex) 토모스포츠클럽</label>
                                                    <div class="form-row justify-content-center">
                                                        <div class="col-lg-9 col-md-8">
                                                            <input class="form-control" id="selected-ground" type="text" placeholder="구장을 입력해주세요." />
                                                        </div>
                                                        <div class="col-lg-3 col-md-4">
                                                            <a class="btn btn-teal btn-block btn-marketing rounded-pill" onclick="reserveGround()">Search</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group" id="date-box">
                                                    <label class="small text-gray-600" for="leadCapEmail">날짜 선택</label>
                                                    <div>
                                                        <div class="btn-group dropup">
                                                            <select class="form-control form-control-sm" id="drop-items">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <div>
                                                <ul id="reservation-date-box">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>

            <!-- Footer Start -->
            <div id="layoutDefault_footer">
                <footer class="footer pt-10 pb-5 mt-auto bg-dark footer-dark">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="footer-brand">CONTACT</div>
                                <hr class="mt-0 mb-3" />
                                    <p class="lead mb-0 mb-1">동대문구에서 활동하고 있으며, 지역에 상관없이 가입 및 매치 문의 환영합니다 ^^</p>
                                    <p class="lead mb-0 mb-1">010-9959-8910</p>
                                    <a href="mailto:seungjin429@gmail.com" title="(FC_Passion)홈페이지 보고 연락 드렸습니다.">seungjin429@gmail.com</a>
                                <div class="icon-list-social mt-3 mb-5">
                                    <a class="icon-list-social-link" href="https://www.instagram.com/fc_passion_jangan/?hl=ko">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 small">Copyright &copy; Your Website 2020</div>
                            <div class="col-md-6 text-md-right small">
                                <a href="javascript:void(0);">Privacy Policy</a>
                                &middot;
                                <a href="javascript:void(0);">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- Footer End -->
        </div>
    </body>
</html>
