<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>경기일정</title>
        <link href="{{ url_for('static', filename='css/ui_styles.css') }}" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
        <link href="{{ url_for('static', filename='css/ui_styles.css') }}" rel="stylesheet" />

        <!-- JS -->
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/ui_scripts.js') }}"></script>
        <script src="{{ url_for('static', filename='js/notice.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='third-party/calendar/vendor/css/fullcalendar.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='third-party/calendar/css/calendar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='third-party/calendar/vendor/css/select2.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='third-party/calendar/vendor/css/bootstrap-datetimepicker.min.css') }}" />

    </head>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    <!-- Navigation Start-->
                    <nav class="navbar navbar-marketing navbar-expand-lg bg-gradient-primary-to-secondary navbar-dark">
                        <div class="container">
                            <a class="navbar-brand text-white" href="/">FC Passion</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto mr-lg-5">
                                    <li class="nav-item"><a class="nav-link" href="/introduce">소개</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/notice/list">공지사항</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/schedule/list">경기일정</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/daily-life/list">일상</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!-- Navigation End-->

                    <section class="bg-white py-10">
                        <div class="container">

                            <!-- Header start -->
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <h2 class="mb-1">경기일정</h2>
                                <div>
                                    <a class="btn btn-primary d-inline-flex align-items-center" href="/schedule/write">일정추가<i class="ml-1" data-feather="arrow-right"></i></a>
                                </div>
                            </div>
                            <!-- Header end -->

                            <hr class="mb-4" />

                            <!-- Calendar end -->
                            <div id="wrapper" class="mt-5">
                                <div id="loading"></div>
                                <div id="calendar"></div>
                            </div>
                            <!-- Calendar end -->

                            <!-- 일정 추가 MODAL -->
                            <div class="modal fade" tabindex="-1" role="dialog" id="eventModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                    aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label class="small text-gray-600" for="edit-title">일정명</label>
                                                    <input class="form-control" type="text" name="edit-title" id="edit-title" required="required"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label class="small text-gray-600" for="edit-title">시작</label>
                                                    <input class="form-control" type="text" name="edit-start" id="edit-start" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label class="small text-gray-600" for="edit-title">끝</label>
                                                    <input class="form-control" type="text" name="edit-end" id="edit-end" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label class="small text-gray-600" for="edit-title">설명</label>
                                                    <textarea class="form-control" name="edit-desc" id="edit-desc" rows="5" placeholder="내용을 입력해주세요."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer modalBtnContainer-addEvent">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                                            <button type="button" class="btn btn-primary" id="save-event">저장</button>
                                        </div>
                                        <div class="modal-footer modalBtnContainer-modifyEvent">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                            <button type="button" class="btn btn-danger" id="deleteEvent">삭제</button>
                                            <button type="button" class="btn btn-primary" id="updateEvent">저장</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->

                            <label class="checkbox-inline float-right">
                                <input class='filter float' type="checkbox" value="관리자" checked> 관리자
                            </label>
                        </div>
                    </section>
                </main>
            </div>

            <!-- Footer Start -->
            <div id="layoutDefault_footer">
                <footer class="footer pt-10 pb-5 mt-auto bg-dark footer-dark">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="footer-brand">CONTACT</div>
                                <hr class="mt-0 mb-3" />
                                    <p class="lead mb-0 mb-1">동대문구에서 활동하고 있으며, 지역에 상관없이 가입 및 매치 문의 환영합니다 ^^</p>
                                    <p class="lead mb-0 mb-1">010-9959-8910</p>
                                    <a href="mailto:seungjin429@gmail.com" title="(FC_Passion)홈페이지 보고 연락 드렸습니다.">seungjin429@gmail.com</a>
                                <div class="icon-list-social mt-3 mb-5">
                                    <a class="icon-list-social-link" href="https://www.instagram.com/fc_passion_jangan/?hl=ko">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 small">Copyright &copy; Your Website 2020</div>
                            <div class="col-md-6 text-md-right small">
                                <a href="javascript:void(0);">Privacy Policy</a>
                                &middot;
                                <a href="javascript:void(0);">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- Footer End -->
        </div>

        <script src="{{ url_for('static', filename='third-party/calendar/vendor/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='third-party/calendar/vendor/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='third-party/calendar/vendor/js/moment.min.js') }}"></script>
        <script src="{{ url_for('static', filename='third-party/calendar/vendor/js/fullcalendar.min.js') }}"></script>
        <script src="{{ url_for('static', filename='third-party/calendar/vendor/js/ko.js') }}"></script>
        <script src="{{ url_for('static', filename='third-party/calendar/vendor/js/select2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='third-party/calendar/vendor/js/bootstrap-datetimepicker.min.js') }}"></script>
        <script src="{{ url_for('static', filename='third-party/calendar/js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='third-party/calendar/js/addEvent.js') }}"></script>
        <script src="{{ url_for('static', filename='third-party/calendar/js/editEvent.js') }}"></script>
        <script src="{{ url_for('static', filename='third-party/calendar/js/etcSetting.js') }}"></script>
    </body>
</html>
